#encabezado {
    text-align: center;
    color: brown;
}
#color {
    background-color: blanchedalmond;
}
p.carta{
    color: brown;
}
p.cafe {
    color: brown;
    text-align: center;
}
p.contacto{
    color: brown;
    text-align: right;
}
#carta{
    color: brown;
    text-align: center;
}
#body{
    background-color: blanchedalmond
}
#cafe{
    color: brown;
    text-align: center;
}
p.lacarta{
    color: brown;
}